# Bot Config
discordbot_sloth/config.py

# bot state
discordbot_sloth/data/latex_out/Snipp*
discordbot_sloth/data/latex_out/out/*
discordbot_sloth/data/pins/*
discordbot_sloth/data/user_settings/*

!discordbot_sloth/data/user_settings/default_settings.json



# packaging and distribution
build/
dist/



#
**/.vscode

discordbot_sloth/discord.log

**/*.pyc

**/__pycache__/
.vscode/settings.json

